/*CSS*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

#header {
  background-color: #aaa;
  padding: 10px 0 10px 0;
}

#header h1 {
  color: white;
  float: left;
  padding-left: 40px;
}

#header a {
  color: slateblue;
  float: right;
  margin: 20px;
  text-decoration: none;
}
