<h2>Create new Clothing</h2>

<% if flash.has?(:message) %>
  <%= flash[:message] %> <br></br>
<% end %>

<form action="/clothes" method="post">
  <label for="name">Name</label><br>
  <input type="text" id="name" name="clothing_item[name]"><br></br>
  <label for="color">Color</label><br>
  <input type="text" id="color" name="clothing_item[color]"><br></br>
  <label for="fanciness">Fanciness</label><br>
  <input type="text" id="fanciness" name="clothing_item[fanciness]"><br></br>

  <!-- Category selection -->
  <% ClothingCategory.all.each do |category| %>
  <input type="radio" name="clothing_category_id" value="<%= category.id %>"><%= category.name %>
  <% end %><br>
  <a href="/categories/new">Create Category</a><br></br>
  <input type="submit" value="Create Clothing Item">
</form>
