<h1>Log into Capsulize</h1>
<p>If you don't have an account, <a href="/signup">signup for one</a>.</p>
<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username"><br>
  <label for="password">Password</label>
  <input type="password" name="password"><br>
  <input type="submit" value="Login">
</form>
